@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    background-color: black;
}

lii a buttonn{
    font-family: "Montserrat", sans-serif;
    font-weight: 400px;
    font-size: 18px;
    
    color: #edf0f1;
    text-decoration: none;
    

}
h1{
    font-family: "Montserrat", sans-serif;
    font-size: 40px;
    color: #edf0f1;
    text-decoration: none;
    cursor: pointer;
    background-image: linear-gradient(to right, white, red);
    -webkit-background-clip: text;
    color: transparent;
}
   
header{
    display: flex;
    justify-content: space-between;
    align-items: left;
    padding: 30px 30px;

}
/* .navlinks li a:hover {
    color: red;
}
.navlinks li{
    display: inline-block;
    padding: 0px 20px;
    list-style: none;
} */

.flex-container{
    display: flex;
    
    flex-flow: column wrap;
    align-content: flex-end;
    position: absolute;
    right: 0;
    top: 11rem;

}
.flex-item{
    padding: 30px 60px;
}
/*for the buttons*/

/* buttonn{
    padding: 9px 25px;
    border-radius: 50px;
    background-color: rgba(255, 0, 0, 0.8);
    

}
button:hover{
    background-color: rgba(255, 0, 0, 1);

} */
/*for the text animation */

.continue{
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 50px;
    padding: 100px 0px 10px 7px;
   
}
/*display flex inside parent makes child display in single line */

.parent{
    display: flex
    
}
.static{
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 50px;
    padding: 100px 7px 10px 30px;
}
#start{
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 50px;
    padding: 0px 0px 0px 30px;

}
.cv{
    
    padding: 0px 0px 0px 30px;
    
}
.cvv{
    
    font-family: "Montserrat", sans-serif;
    font-weight: 400px;
    font-size: 18px;
    
    color: #edf0f1;
    text-decoration: none;
}




/*for my pp*/

.image{
    border-radius: 50%;
    position: absolute;
    top: 25%;
    right: 15%;
   
}

/*---------------------------------------ABOUT ME---------------------------------------*/


.about                              /*main margin */
{
    margin-top: 25%; 

}
.image2{
    border-radius: 60%;
    height: 550px;
    width: 480px;
    padding: 40px;
}
h3{
    font-size: 80px;
    font-weight: bolder;
    margin-bottom: 30px;
}
.text, .active-tabs{
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    
  

}
.imgt{                              /*that is image and text and all taken as single div and justified in center*/
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;


}
.text{
    width: 500px;
    margin-top: 10%;
    
}




/*skill section javascript and css too*/

.active-links{
    display: flex;
    flex-direction: row;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 25px;
    margin: 40px 10px 30px 0px;
  

}
.tab-links{
    margin-right: 50px;
    cursor: pointer;
    position: relative;
   

}
.active-tabs li{
    list-style: none;
    

}
.active-tabs li span{
    color: darkred;
    
}

#c2, #c3{
    display: none;
}


.wrap {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  min-width: 300px;
  min-height: 60px;
  font-family: 'Nunito', sans-serif;
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  font-weight: 700;
  color: #313133;
  background: #4FD1C5;
background: linear-gradient(90deg, rgba(129,230,217,1) 0%, rgba(79,209,197,1) 100%);
  border: none;
  border-radius: 1000px;
  box-shadow: 12px 12px 24px rgba(79,209,197,.64);
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: relative;
  padding: 10px;
  }

button::before {
content: '';
  border-radius: 1000px;
  min-width: calc(300px + 12px);
  min-height: calc(60px + 12px);
  border: 6px solid #00FFCB;
  box-shadow: 0 0 60px rgba(0,255,203,.64);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all .3s ease-in-out 0s;
}

.button:hover, .button:focus {
  color: #313133;
  transform: translateY(-6px);
}

button:hover::before, button:focus::before {
  opacity: 1;
}

button::after {
  content: '';
  width: 30px; height: 30px;
  border-radius: 100%;
  border: 6px solid #00FFCB;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: ring 1.5s infinite;
}

button:hover::after, button:focus::after {
  animation: none;
  display: none;
}

@keyframes ring {
  0% {
    width: 30px;
    height: 30px;
    opacity: 1;
  }
  100% {
    width: 300px;
    height: 300px;
    opacity: 0;
  }
}

